header {
	height: 70px;
	background-color: white;
}
header img {
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-top: 15px;
	margin-left: 40px;
}
header #search {
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 40px;
}

#aggregates {
	margin-top: 20px;
	margin-left: 20px;
}

#mainForm {
	margin-top: 100px;
}
#results {
	margin: 0;
	padding: 0;
}
.ui.checkbox {
	margin-top: 8px;
	display: block;
}

