header {
	height: 50px;
	background-color: #444;
}
header img {
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-left: 40px;
}

#mainForm {
	margin-top: 100px;
	margin-left: 0px;
	margin-right: 0px;
}

